.enterprise-footer
  .container
    .footer-content.row
      .footer-content__left.col-12.col-md-8.col-lg-10
        .footer-content__left-item
          img(width="60px" height="60px" src="./image/address.png")
          span 福州市仓山区万达广场B区
        .footer-content__left-item
          img(width="60px" height="60px" src="./image/email.png")
          span admin@example.com
        .footer-content__left-item
          img(width="60px" height="60px" src="./image/contact-us.png")
          span 400-123-4567
      .footer-content__right.col-12.col-md-4.col-lg-2
        img.qrcode.mx-auto(width="120px", height="120px", src="./image/qrcode.jpg", alt="二维码")
    p.copyright ©LUCKY LAND COMMUNICATIONS/SHUEISHA,JOJO's Animation SO Project