section.hot.container
  h2.section-title 热⻔产品
  .hot-wrapper.row
    .col-lg-3.col-12.col-sm-6
      .hot-item.mx-auto
        .hot-image
          img.lazyload(src="./image/hot1.jpg", alt="热门剧集")
        p.hot-title.py-2 剧集映画
    .col-lg-3.col-12.col-sm-6
      .hot-item.mx-auto
        .hot-image
          img.lazyload(src="./image/hot2.jpg", alt="热门剧集")
        p.hot-title.py-2 剧集映画
    .col-lg-3.col-12.col-sm-6
      .hot-item.mx-auto
        .hot-image
          img.lazyload(src="./image/hot3.jpg", alt="热门剧集")
        p.hot-title.py-2 剧集映画
    .col-lg-3.col-12.col-sm-6
      .hot-item.mx-auto
        .hot-image
          img.lazyload(src="./image/hot4.jpg", alt="热门剧集")
        p.hot-title.py-2 剧集映画